@using BlogApplication.WebFramework.HtmlExtensions
@model BlogApplication.WebFramework.Models.ChangePasswordModel

@{
    ViewBag.Title = Html.GetWord("Change Password"); ;
}

<h2>@Html.GetWord("Change Password")</h2>

<input type='hidden' id='ViewMessages' />
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "ChangePassword" }))
{


    <div class="form-group">
        <label class="control-label col-lg-4">@Html.GetWord("Old Password")</label>
        <div class="col-lg-4">
            @Html.PasswordFor(model => model.OldPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-4">@Html.GetWord("New Password")</label>
        <div class="col-lg-4">
            @Html.PasswordFor(model => model.NewPassword, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-4">@Html.GetWord("Confirm Password")</label>
        <div class="col-lg-4">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>



    <div class="form-actions no-margin-bottom" style="text-align: center;">
        <input type="submit" value="@Html.GetWord("Change Password")" class="btn btn-primary btn-lg " />
    </div>
}

@section scripts{

    @Html.ShowMessages()
    <script>
        $("#ChangePassword").validate({
            rules: {
                OldPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 32,
                    alphaNumeric: true                
                },
                NewPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 32,
                    alphaNumeric: true,
                    notEqual: "#OldPassword"
                },
                ConfirmPassword: {
                    required: true,
                    minlength: 6,
                    maxlength: 32,
                    alphaNumeric: true,
                    equalTo: "#NewPassword"
                }
            },
            messages: {
                OldPassword: {
                    required: '@Html.GetWord("Required")',
                    minlength: '@Html.GetWord("At least 6 characters required!")',
                    maxlength: '@Html.GetWord("No longer than 32 characters")',
                    alphaNumeric: '@Html.GetWord("It must be alpha-numeric")'

                },
                NewPassword: {
                    required: '@Html.GetWord("Required")',
                    minlength: '@Html.GetWord("At least 6 characters required!")',
                    maxlength: '@Html.GetWord("No longer than 32 characters")',
                    alphaNumeric: '@Html.GetWord("It must be alpha-numeric")',
                    notEqual: '@Html.GetWord("New Password Cannot Be The Same With The Old Password")'

                },
                ConfirmPassword: {
                    required: '@Html.GetWord("Required")',
                    minlength: '@Html.GetWord("At least 6 characters required!")',
                    maxlength: '@Html.GetWord("No longer than 32 characters")',
                    alphaNumeric: '@Html.GetWord("It must be alpha-numeric")',
                    equalTo: '@Html.GetWord("Password does not match")'
                }
            },
            errorClass:
                'help-block',
            errorElement:
                'span',
            highlight:
                function(element, errorClass, validClass) {
                    $(element).parents('.form-group').removeClass('has-success').addClass('has-error');
                },
            unhighlight: function(element, errorClass, validClass) {
                $(element).parents('.form-group').removeClass('has-error').addClass('has-success');
            }
        });
    </script>
}